* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mem-slider {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.mem-slider__radio {
  visibility: hidden;
}

.mem-slider-list {
  overflow: hidden;
}
.mem-slider-list--img {
  width: 100%;
}
.mem-slider-list--text {
  width: 70%;
}
.mem-slider-list__wrapper {
  display: flex;
  width: 400%;
  transition: transform 0.7s;
}
.mem-slides-list__item {
  width: 25%;
  background-color: green;
}

mem-slider-nav {
  width: 30%;
}
.mem-slider-nav__item {
  cursor: pointer;
}

/* Changing the slide */
#slide-2:checked ~ .mem-slider-list .mem-slider-list__wrapper {
  transform: translateX(-25%);
}
#slide-3:checked ~ .mem-slider-list .mem-slider-list__wrapper {
  transform: translateX(-50%);
}
#slide-4:checked ~ .mem-slider-list .mem-slider-list__wrapper {
  transform: translateX(-75%);
}
